body {
    background-image:linear-gradient(wheat, red)
}

.painting {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:50%;
}

.side {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:50%;
}

h1 {
    text-align:center;

}

.signature {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:50%;
}

.eeyore {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:50%;
}

.empty {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:50%;
}

.eyes {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:50%;
}

