.box {
    width: 500px;
    height: 500px;
    background: red;
    margin: auto;
    justify-content: center;
    
    animation-name: change-color;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
  }
  
  h1 {
    text-align: center;
  }
  
  
  @keyframes change-color {
    from {
      background: yellow;
      width: 50px;
      height: 50px;
      border-radius: 0px;
    }
    
    to {
      background: blue;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }