body {
    justify-content: center;
}

.painting {
    left:400px;
    bottom:20px;
    width:200px;
}

.side {
    width:200px;
    position:absolute;
    left:400px;

}

h1 {
    text-align:center;

}

.signature {
    position:fixed;
    top:250px;
    left: 200px;
    width:200px;
    

}

.eeyore {
    width: 30px;
    height:auto;
}

.empty {
    position:absolute;
    top:400px;
    left:25px;

}

.eyes {
    position:absolute;
    top:400px;
    left:25px;

}

