* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*     border: 1px solid orange; */
  }
  
  body {
    background-color: gray;
    color: black;
    font-family: Arial;
  }
  
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    margin: 1rem auto;
    width: 80vw;
    border: 2px solid white;
  }
  
  #main-menu {
    display: flex;
    align-items: center;
  }

  .menu-item {
    list-style: none;
    text-decoration: none;
    color: white;
    border-left: 2px solid white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .25em;
  }
  
  .menu-item:hover {
    background-color: pink;
  }
  /* .menu-item:last-of-type {
    border-right: 2px solid white;
  } */
  
  .box {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    top: 100px;
    border-left: 2px solid red;
  }
  